.futsal_court {
  width: 200px;
  height:400px;
  border: 1px solid #000;
  position: absolute;
  top: 10px;
  left: 10px;
}

.half_line {
  width: 200px;
  border: 1px solid #000;
  position: absolute;
  top: 210px;
  left: 10px;
}

.center_circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #000;
  position: absolute;
  top: 160px;
  left: 60px;
}

/* my field */
.half_circle_1 {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 360px;
  left: 55px;
}

/* other field */
.half_circle_2 {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 10px;
  left: 55px;
}

@keyframes p1 {
  0% { top: 340px; left: 90px;}
  100% { top: 300px; left: 20px; }
}

.player_1 {
  animation: p1 2s infinite;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #af0;
  position: relative;
  top: 340px;
  left: 90px;
}

@keyframes p2 {
  0% { top: 300px; left: 20px;}
  50% { top: 280px; left: 20px; }
  100% { top: 300px; left: 20px; }
}

.player_2 {
  animation: p2 2s infinite;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ef0;
  position: relative;
  top: 300px;
  left: 20px;
}

#@keyframes p3 {
#  0% { top: 285px; left: 170px;}
#  50% { top: 260px; left: 170px; }
#  100% { top: 285px; left: 170px; }
#}

.player_3 {
  #animation: p3 2s infinite;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #660;
  position: relative;
  top: 285px;
  left: 170px;
